<div class="container">

    <h2>{{park.stateName}}, {{park.parkName}}</h2>

    <div class="row border p-3">

        <div class="col-3">
            <img src="{{park.image}}" height="275" width="275"/>
        </div>
        <div class="col-9">
            <p>{{park.about}}</p>
        </div>

    </div>

    <div class="row border p-3">
        <h3>Directions</h3>
        <p>{{park.directions}}</p>
    </div>
    
    <div class="row border p-3">
        <h3>Costs</h3>
        <p>{{park.costs}}</p>
    </div>

    <div class="row border p-3">
        <h3>Activities</h3>
        <p>{{park.activities}}</p>
    </div>
    
</div>

