<div class="container">
    <div *ngFor = "let park of parks">
        <div class="row border p-3 m-0">
            <div class="col-3">
                
                    <a (click)="showPark(park.id)">{{park.stateName}}, {{park.parkName}}</a>
                    <img src="{{park.image}}" height="275" width="275" (click)="showPark(park.id)" />
                
            </div>
            
            <div class="col-9">
                <div>{{park.about}}</div>
            </div>
               
        </div>
    </div>
    
</div>

<!--


<h2>Park List</h2>
<table>
    <thead>
        <tr>
            <th>State Name</th>       
            <th>Park Name</th>
            <th>Image</th> 
              
                
            <th>Directions</th>      
            <th>About</th>       
            <th>Costs</th>
            <th>Activities</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let park of parks">
                <td><a (click)="showPark(park.id)">{{park.stateName}}</a></td>
                <td><a (click)="showPark(park.id)">{{park.parkName}}</a></td>
                <td><img src="{{park.image}}" height="275" width="275" /></td>
                
                
                
                <td>{{park.directions}}</td>
                <td>{{park.about}}</td>
                <td>{{park.costs}}</td>
                <td>{{park.activities}}</td>
                 
        </tr>
    </tbody>
</table>
-->
