<div class="m-5" id="login">
    <h1>Sign In</h1>
  
    
    <form [formGroup]="signInForm" #SignInForm="ngForm">
      <!-- (ngSubmit)="onSubmit() -->
  
    <div class="mt-3">
        <label>Email:</label>
        <div>
          <input [class.redBorder]="signInForm.get('email')?.invalid &&
                 signInForm.get('email')?.touched" formControlName="email" [(ngModel)]="user.email" type="email" placeholder="Enter email">
        </div>
        <div *ngIf="signInForm.get('email')?.invalid && signInForm.get('email')?.touched">
            <small *ngIf="signInForm.get('email')?.hasError('required')" >Email is required. </small>
            <small *ngIf="signInForm.get('email')?.hasError('maxlength')" >Email cannot be more than 30 characters long. </small>
            <small *ngIf="signInForm.get('email')?.hasError('minlength')" >Email cannot be less than 12 characters long. </small>
            <small *ngIf="signInForm.get('email')?.hasError('email')" >Use proper email format. Ex: ---@---.com. </small>
        </div>
  
    </div>
      
  
    <div class="mt-3">
        <label>Password:</label>
        <div>
          <input formControlName="password" [(ngModel)]="user.password" type="password" placeholder="Enter password">
        </div>
        <div *ngIf="signInForm.get('password')?.invalid && signInForm.get('password')?.touched">
          <small *ngIf="signInForm.get('password')?.hasError('required')" >Password is required.</small>
          <small *ngIf="signInForm.get('password')?.hasError('maxlength')" >Password cannot be more than 30 characters long. </small>
          <small *ngIf="signInForm.get('password')?.hasError('minlength')" >Password cannot be less than 8 characters long. </small>
        </div>
    </div>
  

      <!-- [disabled] means the button is disabled if the form is not valid-->
    <div class="mt-3">
      <button [disabled]="SignInForm.form.invalid" (click)="onSubmit()" type="submit">Login</button>
      <small>{{msg}}</small>
    </div>
  
      <!--
    {{signInForm.value | json}}
    -->
  
    </form>
  
    <div class="mt-3">
      <a routerLink="/register">Need to register an accout? Click here</a>
    </div>
    
  </div>

